{% extends '_base.html'%}
{% load static%}

{% block title%} Stats {% endblock%}


{% block content%}
 <div class="container mt-4">
    
   <div class="row ">
    <div class="col-md-10 ">
        <nav aria-label="breadcrumb bg-light">
            <ol class="breadcrumb">
            <li class="breadcrumb-item ">
                <a href="">Expenses Summary</a></li>
            <li class="breadcrumb-item active" aria-current="page">Summary</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-2">
        <a href="{% url 'dashboard:dashboard'%}" class="btn btn-primary ">Back</a>

    </div>
    <div>
        <canvas id="expenseChart" width="400" height="400"></canvas>



        
      </div>
      
     
       
   </div>
   
</div>

 <!-- <script src="{% static 'assets/js/stats.js'%}"> -->
      

 </script>    
 
{% endblock %}