{% extends '_base.html'%}
{% load static %}

{% block title%} Update_expense {% endblock %}

{% block content %}
<div class="container mt-4">
   
         <nav aria-label="breadcrum">
             <ol class="breadcrumb">
             <li class="breadcrumb-item background-dark">
                 <a href="{% url 'dashboard:dashboard'%}">Expenses</a></li>
             <li class="breadcrumb-item active" aria-current="page">Edit expense</li>
             </ol>
         </nav>
     

<div class="card-body">
  <form action="{% url 'dashboard:add_expenses'%}" method="post"></form>
     {% csrf_token %}
     {% include 'partials/_message.html'%}
        <div class="form-group">
            <label for="">Amount</label>
            <input type="number" class="form-control form-control-sm" name="amount" value="{{values.amount}}">
        </div>
        <div class="form-group">
            <label for="">Category</label>
            <select class="form-control" name="category" >
                {% for category in categories %} 
                <option name="category" value="{{category.name}}">{{category.name}} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea type="text" class="form-control form-control-sm" name="description" value="{{values.description}}"> </textarea>
        </div>

        <div class="form-group">
            <label for="">Date of Expense</label>
            <input type="date" class="form-control form-control-sm " name="date" value="{{values.date}}">
        </div>
        <input type="submit" value="Update" class="btn btn-primary btn-primary-sm mt-2">
  </form>
</div>
</div>

{% endblock %}