{% load static %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> {% block title%} {% endblock %} </title>

    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'assets/css/maridadi.css'%}"> 
 <!-- <link rel="stylesheet" href="{% static 'assets/css/main.css'%}"> -->
 <link href="{% static 'assets/css/paginator.css'%}" rel="stylesheet">
<link href="{% static 'assets/css/dashboard.css'%}" rel="stylesheet">

    

</head>
<body>
 
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">WALLETWISE</a>
<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
<div class="navbar-nav">
<div class="nav-item text-nowrap">
  <a class="nav-link px-3" href="{% url 'accounts:login' %}">Sign out</a>
</div>
</div>
</header>

<div class="container-fluid">
  <div class="row">
    
      {% include 'partials/_sidebar.html'%}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
     {% block content %}
     
     {% endblock %}
    </main>
  </div>
</div>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}" ></script>

    <script src="{% static 'assets/js/main.js'%}"></script>
    <script src="{% static 'assets/js/stats.js'%}">

    </script>
    
  </body>
</html>





  




